header {
  position: sticky;
  top: 0;
  background-color: #D8125B;
  z-index: 100;
}

.header-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px 0;
  padding-bottom: 20px;
}


body {
  font-family: 'Times New Roman', Times, serif;
  color: #F2F0EA;
  background-color: #2C2E39;
  line-height: 1.6;
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 5px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2C2E39;
  padding-bottom: 5px;
}

h3 {
  margin-top: 20px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
}

a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


